/*********************
        COMMON
*********************/
.container {
    max-width: 71.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: auto;
}
.container-small {
    max-width: 50%;
    padding: 1.25rem;
    margin: auto;
}
section {
    margin: 3.125rem 0;
}
.card {
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem 0;
    border-radius: 1.25rem;
}

.list-style-none {
    list-style: none;
}
small {
    font-size: 1.25rem;
    font-weight: 100;
    color: #cfcef2;
}
h3 {
    color: var(--primary-color);
    padding: 2.5rem 0;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}