/*********************
        FLEX
*********************/
.flex {
    display: flex;
}
.flex-justify-end {
    justify-content: flex-end;
}
.flex-space-between {
    justify-content: space-between;
}
.flex-space-around {
    justify-content: space-around;
}
.flex-space-evenly {
    justify-content: space-evenly;
}
.flex-align-items-center {
    align-items: center;
}
.flex-align-items-end {
    align-items: flex-end;
}
.flex-align-items-start {
    align-items: flex-start;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-column {
    flex-direction: column;
}
