/*********************
        HEADER
*********************/
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1.25rem 0;
    position: sticky;
    top: 0;
}
.hamburger {
    display: block;
    width: 1.875rem;
}
.nav-bar {
    display: none;
}
.logo {

}

/* TABLET */
@media screen and (min-width: 768px) {
    
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .nav-bar {
        display: block;
    }
    header ul li {
        margin-right: 1.25rem;
    }
}