/*********************
        MAIN
*********************/

/*********************
        FEATURES
*********************/

.features .debug-card{
    background-color: #b5ddff;
    height: 300px;
}
.card {
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem 0;
    border-radius: 1.25rem;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .features .card {
        width: calc(100% / 3 - 2.5rem);
        padding-right: 1.5625rem;
    }
    .features .card:first-child {
        width: calc((100% / 3) * 2);
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    
}
/*********************
      STRATEGIC
*********************/
.strategic {
    background-color: #9792e4;
}
 .debug-card {
    background-color: white;
    height: 300px;
}
/* TABLET */
@media screen and (min-width: 768px) {

}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .strategic .card {
        width: calc(50% -2.5rem);
        margin-right: 20px;
    }
    .strategic:last-child {
        align-self: flex-end;
    }
}

/*********************
    TESTIMONIAL
*********************/
