/*********************
        MAIN
*********************/

/*********************
        FEATURES
*********************/

.features .debug-card{
    background-color: var(--primary-color-light);
    height: 300px;
}


/* TABLET */
@media screen and (min-width: 768px) {
    .features .card {
        width: calc(100% / 3 - 2.5rem);
        padding-left: 0.625rem;
        padding-right: 0.625rem;

    }
    .features .card:first-child {
        width: calc((100% / 3) * 2);
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    
}
/*********************
      STRATEGIC
*********************/
.strategic {
    background-color: var(--secondary-color);
}
 .debug-card {
    background-color: white;
    height: 300px;
}
/* TABLET */
@media screen and (min-width: 768px) {

}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .strategic .card {
        width: calc(50% -2.5rem);
        margin-right: 20px;
    }
    .strategic:last-child {
        align-self: flex-end;
    }
}

/*********************
    TESTIMONIAL
*********************/
.testimonial {
    background-color: white;
    color: white;
}
.testimonial .debug-card{
    background-color: var(--secondary-color);
    height: 300px;
}
.testimonial .debug-title {
    width: 100%;
    background-color: red;
    padding: 1.25rem;
    text-align: center;
}
.testimonial .card {
    width: 100%;
}

/* TABLET */
@media screen and (min-width: 768px) {
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    
}
/*********************
    BENEFITS
*********************/
.benefits {
    background-color: var(--secondary-color);
}
.benefits h2 {
    color: white;
}
.benefits .debug-card{
    background-color: white;
    height: 300px;
}
.card {
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem 0;
    border-radius: 1.25rem;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .benefits .card {
        width: calc(100% / 2 - 2.5rem);
        padding-right: 1.5625rem;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .benefits .card {
        width: calc(100% / 3 - 2.5rem);
        padding-right: 1.5625rem;
    }
}
/*********************
    ABOUT-US
*********************/
.about-us h3 {
    color: #9792e4;
}
.about-us h4 {
    color: #9792e4;
}
.text {
    width: 100%;
}
.debug-comment {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem 0;
    border-radius: 1.25rem;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .text {
        padding-right: 1.5625rem;
        width: calc(30% - 2.5rem);
    }
    .debug-comment {
        padding-right: 1.5625rem;
        width: calc(40% - 2.5rem);
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .text {
        padding-right: 1.5625rem;
        width: calc(75% - 2.5rem);
    }
    .debug-comment {
        padding-right: 1.5625rem;
        width: calc(25% - 2.5rem);
    }
}
/*********************
    GET STARTED
*********************/
.get-started {
    margin-bottom: 0;
}
.get-started {
    background-color: var(--secondary-color);
    text-align: center;
}
.get-started h5 {
    color: white;
}
.get-started h2 {
    color: #fdc15f;
}