/*********************
        MAIN
*********************/



/*********************
        FEATURES
*********************/

.features .card{
    background-color: var(--primary-color-light);
}
.features p {
    color: var(--main-text-color);
    padding-bottom: 2.5rem;
    font-size: .75rem;
}
.features img {
    height: 14.5625rem;
    width: 11.875rem;
    max-width: 100%;
}
.features-card-image {
    margin: auto;
    margin-bottom: -1.5625rem;
}
.features h2 {
    font-size: 3.125rem;
    color: var(--primary-color);
}
.features .flex:not(:first-child){
    text-align: center;
}

/* TABLET */
@media screen and (min-width: 768px) {
    /* COMMON */
    .features .card {
        width: calc(100% / 3 - .625rem);
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
    .features .card:first-child {
        width: calc((100% / 3) * 2);
    }
    /* /COMMON */
    .features .card {
        flex-direction: column;
    }
    .features-card-image {
        margin-left: 0;
    }

}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .features .card .description {
        margin-top: -25px;
    }
    .features .card {
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .features .description {
        width: 50%;
        margin-right: 5.625rem;
    }
}

/*********************
      STRATEGIC MA CHE CAZZO STO COMBINANDO AIUT
*********************/
.strategic {
    background-color: var(--secondary-color);
}
.strategic .flex:last-child {
    background-color: white;
}
.strategic .col {
    width: 100%;
    margin: 0;
}
.strategic-card-image {
    background-color: var(--secondary-color);
}
.strategic img {
    display: block;
    max-width: 101%;
    min-width: 18.75rem;
    margin: 0px;
}
.strategic-text-container {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    margin: auto;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .strategic .col {
        width: calc(50%);
    }
    .strategic .card {
        width: calc(50%);
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {

    .strategic:last-child {
        align-self: flex-end;
    }
}

/*********************
    TESTIMONIAL
*********************/
.testimonial {
    background-color: white;
    color: white;
}
.testimonial .card{
    background-color: var(--secondary-color);
}
.testimonial .title {
    width: 100%;
    padding: 1.25rem;
    text-align: center;
}
.testimonial h2 {
    padding: 2rem 0;
    color: var(--secondary-color);
}
.testimonial p {
    color: black;
    padding: 2.5rem 0;
}
.testimonial img {
    max-width: 100%;
    min-width: 12.5rem;
    min-height: 12.5rem;
    object-fit: cover;
    padding: 0px 3.75rem;
    border-radius: 50%;
}
.testimonial .citazione {
    text-align: center;
    line-height: 1.875rem;
}
.testimonial .citazione p{
    color: white;
}
.testimonial .card {
    width: 100%;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .testimonial .card {
        flex-wrap: nowrap;
    }
    .testimonial img {
        padding: 0;
    }
    .testimonial .citazione {
        padding: 0 1.25rem;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .testimonial img {
        padding: 0 10%;
    }
    
}
/*********************
    BENEFITS
*********************/
.benefits {
    background-color: var(--secondary-color);
}
.benefits h2 {
    color: white;
}
.benefits .debug-card{
    background-color: white;
    height: 300px;
}
.card {
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem 0;
    border-radius: 1.25rem;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .benefits .card {
        width: calc(100% / 2 - 2.5rem);
        padding-right: 1.5625rem;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .benefits .card {
        width: calc(100% / 3 - 2.5rem);
        padding-right: 1.5625rem;
    }
}
/*********************
    ABOUT-US
*********************/
.about-us h3 {
    color: #9792e4;
}
.about-us h4 {
    color: #9792e4;
}
.text {
    width: 100%;
}
.debug-comment {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 1.25rem;
    margin: 1.25rem 0;
    border-radius: 1.25rem;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .text {
        padding-right: 1.5625rem;
        width: calc(30% - 2.5rem);
    }
    .debug-comment {
        padding-right: 1.5625rem;
        width: calc(40% - 2.5rem);
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .text {
        padding-right: 1.5625rem;
        width: calc(75% - 2.5rem);
    }
    .debug-comment {
        padding-right: 1.5625rem;
        width: calc(25% - 2.5rem);
    }
}
/*********************
    GET STARTED
*********************/
.get-started {
    margin-bottom: 0;
}
.get-started {
    background-color: var(--secondary-color);
    text-align: center;
}
.get-started h5 {
    color: white;
}
.get-started h2 {
    color: #fdc15f;
}